
<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" #name>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" id="age" class="form-control" #age>
            </div>
            <div class="form-group">
                <label for="dob">DoB</label>
                <input type="date" id="dob" class="form-control" #dob>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select class="form-select" id="gender" #gender>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="ambiguous">Rather not say</option>
                </select>
            </div>
            <div class="row justify-content-end">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" (click)="handleSubmit()">Submit</button>        
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
